<html>
<head>
    <title>Employee Experience 4U</title>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h2>Employee Experience 4U</h2>
</body>
</html>
