@media (max-width: 375px) {}
    #sk-holder #sk-container.sk-appear, #sk-holder #sk-container.sk-appear #sk-wrapper {
        height: 100%;
    }

    #sk-holder #sk-container {
        right: 0;
        border-radius: 0;
        width: 100%;
        border: none;
    }
    #sk-holder #sk-container #sk-wrapper {
        width: 100%;
    }
}

#sk-holder #sk-container #sk-conversation .sk-row .sk-msg-wrapper .sk-msg {
    border-radius: 8px;
}
